* {
  box-sizing: border-box;
}

:root {
  --redc: #ea4020;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* navbar section  */

.bg-blue-gradient {
  background: linear-gradient(90deg, #3d77db, #5383db);
}

.nav-link {
  color: white !important;
  font-size: 16px;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
}

/* End of navbar section  */

/* home section  */
#home {
  height: 100vh;
  background: linear-gradient(135deg, #4b2c82, #2fa4a9);
}

/* services  */
.service-card {
  background: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
  height: 100%;
}
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.service-icon {
  width: 70px;
  height: 70px;
  background: #0d6efd; /* bootstrap blue */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon i {
  color: #fff;
  font-size: 28px;
}

/* about section  */
.about-numbers {
  background: rgba(118, 118, 225, 0.2);
  color: #000;
  transition: all 0.3s ease-in-out;
}
.about-numbers:hover {
  background: rgb(90, 90, 224);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.about-numbers:hover h2,
.about-numbers:hover p {
  color: white;
}

/* skills section */
#skills {
  color: white;
  background: linear-gradient(225deg, #4b2c82, #2fa4a9);
}

/* contact-us  */
iframe {
  width: 80%;
  height: 400px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#contact-us input::placeholder,
#contact-us texta::placeholder {
  font-size: 0.9rem;
}

#contact-us input:focus,
#contact-us textarea:focus {
  outline: none;
  border-color: #ea4020;
  box-shadow: none;
}

/* footer  */
footer {
  background-color: #32455e;
}
footer p {
  font-size: 15px;
  text-align: justify;
}

footer h6 {
  color: white;
  font-weight: bold;
}
footer a {
  font-size: 12px;
  color: rgb(153, 251, 5);
  text-decoration: none;
}
