* {
  box-sizing: border-box;
}

:root {
  --redc: #ea4020;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* navbar section  */

.glass-nav {
  background: rgba(11, 35, 65, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
.nav-link {
  color: white !important;
  font-size: 16px;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
}

nav-link {
  font-weight: 500;
  margin-right: 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8) !important;
  transition: all 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
  color: #fff !important;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #0dcaf0;
}

/* End of navbar section  */

/* home section  */
#home {
  height: 100vh;
  background: linear-gradient(135deg, #4b2c82, #2fa4a9);
  background: linear-gradient(135deg, #0b2341 0%, #1a4275 100%);
}
.bg-custom-blue {
  background-color: #bdd7fe;
}

/* services  */
.service-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.icon-box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
/* Icon Colors Backgrounds */
.bg-blue-light {
  background: #e7f1ff;
}
.bg-purple-light {
  background: #f3efff;
}
.text-purple {
  color: #6f42c1;
}
.bg-green-light {
  background: #e6fffa;
}
.bg-orange-light {
  background: #fff8e6;
}
.bg-red-light {
  background: #ffeaea;
}
.bg-info-light {
  background: #e0f7fa;
}

.read-more {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #0d6efd;
}

.read-more i {
  transition: margin-left 0.3s ease;
}

.read-more:hover i {
  margin-left: 5px;
}

/* about section  */
.about-numbers {
  background: rgba(118, 118, 225, 0.2);
  color: #000;
}

/* skills section */
#skills {
  background: linear-gradient(135deg, #0b2341, #153561);
  position: relative;
}

.text-custom-blue {
  color: #bdd7fe;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.bg-gradient-primary {
  background: linear-gradient(90deg, #007bff, #0dcaf0);
}
.bg-gradient-info {
  background: linear-gradient(90deg, #17a2b8, #89dadc);
}
.bg-gradient-warning {
  background: linear-gradient(90deg, #ffc107, #ffdb72);
}

/* contact-us  */
iframe {
  width: 80%;
  height: 400px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#contact-us input::placeholder,
#contact-us texta::placeholder {
  font-size: 0.9rem;
}

#contact-us input:focus,
#contact-us textarea:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: none;
}

/* footer  */

.footer-dark {
  background-color: #05162b;
}

.footer-link:hover {
  transition: all 0.3s ease-in-out;
  color: #0dcaf0 !important;
  padding-left: 5px;
}
